@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  background-color:#0065b3;
  margin:0
}
.user_page {
  --itchio_font_family: 'Roboto Mono';
  --itchio_link_color: #ffffff;
  --itchio_gray_back: #0c0c0c;
  --itchio_border_radius: 0px;
  color:#ffffff;
  font-size:100%;
  font-family:'Roboto Mono',Lato,LatoExtended,sans-serif
}
footer {
  margin-bottom: 80px;
}
.image_header {
  max-width: 400px;
  margin: 185px auto;
}
.text-center {
  text-align:center
}
.epic_copy_notice,
.origin_copy_notice,
.battle_copy_notice,
.riot_copy_notice,
.uplay_copy_notice {
  z-index: 1;
  text-align: left;
  position: absolute;
  left: 50%;
  width: 327px;
  margin-left: -163.5px;
  background-color: #0065b3;
}
.social-nav-item {
  margin: 10px;
  display: inline-block;
}
