@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  background-color:#0065b3;
  margin:0;
}
.user_page {
  color:#ffffff;
  font-size:100%;
  font-family:'Roboto Mono',Lato,LatoExtended,sans-serif
}
footer {
  margin-bottom: 80px;
}
#face {
  margin:200px auto;
  width:400px;
  height: 580px;
}
.glance {
  -webkit-transform: perspective(0) rotateX(0) rotateY(0); /* Safari */
  transform: perspective(0) rotateX(0) rotateY(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
img {
  display:block;
  height:auto;
}
.layer-05 {
  transform: translateZ(-22px);
}
.layer-04 {
  margin: -570px 0;
  transform: translateZ(-11px);
}
.layer-03 {
  margin: -570px 0;
}
.layer-02 {
  margin: -570px 0;
  transform: translateZ(15px);
}
.layer-01 {
  margin: -570px 0;
  transform: translateZ(35px);
}
.text-center {
  text-align:center
}
.notice {
  z-index: 1;
  text-align: left;
  position: absolute;
  left: 50%;
  width: 327px;
  margin-left: -163.5px;
  background-color: #0065b3;
}
.social-nav-item {
  margin: 10px;
  display: inline-block;
}
.social-nav-item img:hover {
  opacity: 50%;
}
.hide {
  display: none;
}
